body {
    text-align: center;
    background-color: gainsboro;
    margin:0px;
    padding:0px;
}

canvas {
    /*border: 2px solid steelblue;*/
    border-radius: 5px;
}

h1 {
    font-family: Roboto, sans-serif;
    color: teal;
}

hr{
    margin-top:20px;
    margin-bottom:20px;
    box-sizing:content-box;
}

hr.style-shadow{
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
}




.dpad {
    float: right;
    margin-top:300px;
    margin-right:200px;
    height:150px;
    width: 200px;
    background-color: steelblue;
    display:none;
}

.table {
    float:left;
    color: black;
    font-size: 30px;
}

.sidebar {
    margin-left:15%;
}

.up {
    width: 80px;
    margin:20px 50px 10px 50px;
}

button {
    height:48px;
    width:48px;
}