body {
    text-align: center;
    background-color: gainsboro;
}

canvas {

    /*border: 2px solid steelblue;*/
    border-radius: 5px;
}

h1 {
    font-family: Roboto, sans-serif;
    color: teal;
}